#about {
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.75);
    padding-bottom: 50px;
    padding-top: 50;
    border-radius: 10px;
}

.about-text-background {
    border-radius: 10px;
    background-image: url('../goat.png');
    background-size: cover;
    background-position-x: center;
    background-position-y:top;
    margin: 10px 30px 10px 30px;
}

#about h2 {
    font-size: 24pt;
    padding: 100px 0px 50px 0px;
    color: white;
}

#about p {
    padding: 0px 100px 0px 80px;
    text-align: center;
    color: white;
    font-size: larger;

}

@media (max-width: 900px) {
    #about p {
        padding: 0px 30px 0px 30px;
    }

    .about-text-background {
        background-image: url('../waterfall.JPG');
        background-position-x: center;
        background-position-y: center;
        margin: 10px 30px 10px 30px;
    }
    

}