.hobbies-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.hobby-wrapper {
    max-width: 350px;
    padding: 10px;
    align-self: baseline;
}

.books-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.book-wrapper {
    max-width: 350px;
    padding: 10px;
    align-self: baseline;
}

